.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.NavBar {
  position: sticky;
  top: 0px ;
  background-color: darkolivegreen;
  line-height: 60px;
  font-size: 20pt;
}

.NavBar ul li{
  line-height: 60px;
  display: inline;
  margin: 5%;
}

.home {
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100%;
}

#GetToKnowMe {
  position: absolute;
  top: 30%;
  left: 45%
}

.about-title {
  text-align: center;
  font-size: 32pt;
}

.about {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  font-size: 18pt;
}

.logos {
  text-align: center;
}

#Flatiron, #Exeter, #Springfield {
  padding: 50px;
  height: 100px;
  width: auto;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
